.hero {
  width: 100%;
  background-color: #000;
  background-image: var(--hero-gradient), url('../../img/hero/myths.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  margin: 0 auto;
  width: 1440px;
  padding: 200px;
  padding-top: 500px;
  padding-bottom: 120px;
}

.hero_text {
  font-family: var(--font-pro);
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 30px;
}

.hero_button {
  margin-left: 30%;
  padding: 10px;
  background-color: rgba(100, 100, 100, 0.742);
  border-radius: 5px;
  font-size: 30px;
  width: 300px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-family: var(--font-jura);
}

.hero_button:hover,
.hero_button:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: var(--second-color);
}
