.hero {
  width: 100%;
  background-color: var(--foreground);
  background-image: var(--hero-gradient), url('../../img/hero/hero.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

.container {
  margin: 0 auto;
  width: 1440px;
  padding: 200px;
  padding-top: 500px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}

.hero_text {
  font-family: var(--font-pro);
  font-weight: 700;
  font-size: 45px;
  & span {
    color: var(--second-color);
  }
}

.hero_button {
  padding: 10px;
  background-color: #00000073;
  border-radius: 5px;
  font-size: 30px;
  width: 300px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  text-align: center;
  font-family: var(--font-jura);
}

.hero_button:hover,
.hero_button:focus {
  box-shadow: 0 4px 8px var(--second-color-alfa);
  color: var(--second-color);
}
