.advantages {
  width: 100%;
  background-color: #000;
  background-image: linear-gradient(90deg,
      rgba(0, 0, 0, 0.6082808123249299) 0%,
      rgba(0, 0, 0, 0.711922268907563) 50%,
      rgba(0, 0, 0, 0.8379726890756303) 100%),
    url('../../img/hero/Repair.webp');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  background-attachment: fixed;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 20px 10px;

  @media (min-width: 1440px) {
    width: 1440px;
    padding: 40px 100px;
  }
}

.advantages_list {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.advantages_item {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  font-size: var(--fs-small);

  @media (min-width: 425px) {
    font-size: var(--fs-medium);
    margin-bottom: 15px;
  }

  @media (min-width: 1024px) {
    font-size: var(--fs-large);
    margin-bottom: 20px;
  }
}

.advantages_item::before {
  content: '';
  width: 5px;
  height: 5px;
  background-color: var(--second-color);
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 8px;

  @media (min-width: 1024px) {
    width: 10px;
    height: 10px;
    margin-right: 15px;
    margin-top: 8px;
  }
}

.advantages_par_header {
  margin-bottom: 20px;
  padding-left: 50px;
  font-size: var(--fs-medium);
  font-style: var(--font-pro);

  @media (min-width: 768px) {
    margin-bottom: 25px;
  }

  @media (min-width: 1024px) {
    font-size: var(--fs-large);
    margin-bottom: 30px;
  }
}