:root {
  --background: #bbb6b6;
  --foreground: #171717;
  --second-color: #f2b843;
  --main-text-color: #fff;

  --font-plus: 'M PLUS Rounded 1c', sans-serif;
  --font-jura: 'Jura', sans-serif;
  --font-sofia: 'Sofia Sans Extra Condensed', sans-serif;
  --font-pro: 'PFBaselinePro', sans-serif;

  --hero-gradient: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
}
