.about {
  width: 100%;
  background-color: #000;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 1440px;
  padding: 40px 100px;
}

.about_text {
  font-family: var(--font-plus);
  font-weight: 500;
  font-size: 45px;
  margin-bottom: 50px;
  text-transform: uppercase;
  position: relative;
}

.about_list {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.about_item {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  font-size: 25px;
}

.about_item::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--second-color);
  border-radius: 50%;
  margin-right: 15px;
  margin-top: 8px;
}

.about_wrap {
  padding: 30px 200px;
  background-color: #1c1c1c;
  box-shadow: 0 10px 20px #f2b8436b;
  position: relative;
  width: 1135px;
  border-radius: 20px;
}

.about_wrap::before {
  content: '';
  position: absolute;
  top: -25px;
  left: 100px;
  width: 10px;
  height: 450px;
  background-color: var(--second-color);
}

.about_par {
  width: 1000px;
  font-size: 20px;
  padding: 0 40px 40px;
}

.about_par_header {
  margin-bottom: 30px;
  padding-left: 50px;
  font-size: 25px;

  font-style: var(--font-pro);
}
