.gallery {
  width: 100%;
  background-color: var(--foreground);
  background-image: linear-gradient(35deg, #1c1c1c 29%, #000 30%);
}

.container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 10px;
  position: relative;
  @media (min-width: 425px) {
    padding: 20px 30px;
  }
  @media (min-width: 768px) {
    padding: 20px 80px;
  }
  @media (min-width: 1024px) {
    padding: 35px 130px;
  }
  @media (min-width: 1440px) {
    width: 1440px;
    padding: 50px 200px;
  }
}

.gallery_text {
  font-family: var(--font-jura);
  font-weight: 400;
  font-size: var(--fs-medium);
  margin-bottom: 40px;
  text-transform: uppercase;
  position: relative;
  @media (min-width: 768px) {
    font-size: var(--fs-large);
    margin-bottom: 50px;
  }
  @media (min-width: 1440px) {
    font-size: var(--fs-xlarge);
    margin-bottom: 70px;
  }
}

.gallery_text::after {
  content: '';
  display: block;
  width: 100px;
  height: 2px;
  background-color: var(--second-color);
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
}

.gallery_slider {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.slider_image {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

.gallery_list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery_item {
  cursor: pointer;
  background-color: #1a1a1a75;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  transition: transform 0.3s ease, border-color 0.3s ease, fill 0.3s ease;
}

.gallery_item:hover {
  border-color: var(--second-color);
  box-shadow: inset 0 10px 20px var(--second-color-alfa);
}

.prev,
.next {
  position: absolute;
  top: 25px;
  z-index: 10;
  color: var(--second-color);
  cursor: pointer;
  @media (min-width: 425px) {
    top: 50%;
    transform: translateY(-50%);
  }
}

.prev {
  left: 30px;
  @media (min-width: 425px) {
    left: 0px;
  }
  @media (min-width: 768px) {
    left: 40px;
  }
  @media (min-width: 1024px) {
    left: 60px;
  }
  @media (min-width: 1440px) {
    left: 125px;
  }
}

.next {
  right: 30px;
  @media (min-width: 425px) {
    right: 0;
  }
  @media (min-width: 768px) {
    right: 40px;
  }
  @media (min-width: 1024px) {
    right: 60px;
  }
  @media (min-width: 1440px) {
    right: 125px;
  }
}

.prev:hover,
.next:hover {
  color: var(--second-color-alfa);
}

.pagination {
  display: flex;
  justify-content: center;
  position: relative;
}

.pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: var(--second-color);
  opacity: 0.7;
  margin: 0 5px;
  border-radius: 50%;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.pagination .swiper-pagination-bullet-active {
  background-color: var(--second-color-alfa);
  opacity: 1;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.modal_content {
  position: relative;
}

.full_image {
  margin: 0 auto;
  width: 95%;
  max-height: 98vh;
  object-fit: contain;
  border-radius: 30px;
  @media (min-width: 1024px) {
    width: 1000px;
    max-width: 1100px;
  }
}

.loader {
  width: 100%;
  height: 100%;
  background-image: var(--hero-gradient);
  position: absolute;
  top: 0;
  left: 0;
  color: var(--main-text-color);
  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
