.footer {
  background-color: var(--foreground);
  color: var(--main-text-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  @media (min-width: 1440px) {
    max-width: 1440px;
    padding: 0 20px;
  }
}

.logo_wrap {
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.logo {
  width: 160px;
  height: auto;

  @media (min-width: 768px) {
    width: 200px;
    height: auto;
  }

  @media (min-width: 1024px) {
    width: 250px;
    height: auto;
  }
}

.nav_wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;

  @media (min-width: 1024px) {
    gap: 22px;
  }

  @media (min-width: 1440px) {
    gap: 30px;
  }
}

.contacts li {
  @media (min-width: 1024px) {
    margin-right: 20px;
  }
}

.link {
  color: var(--main-text-color);
  font-size: var(--fs-medium);
  font-family: var(--font-pro);
  display: flex;
  gap: 10px;
  text-align: center;
  max-width: 345px;

  & svg {
    transition: fill 0.3s ease;
    margin-right: 5px;
  }

  &:hover svg {
    fill: var(--second-color);
  }

  @media (min-width: 1024px) {
    max-width: 405px;
  }

  @media (min-width: 1440px) {
    font-size: var(--fs-large);
    max-width: 795px;
  }
}

.copyright {
  text-align: center;
  padding: 5px 0;
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.github_link {
  color: var(--main-text-color);
  text-decoration: underline;
  font-weight: bold;
  transition: color 0.3s;
}

.github_link:hover {
  color: #ddd;
}
