.footer {
  background-color: var(--foreground);
  color: var(--main-text-color);
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo_wrap {
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.logo {
  width: 250px;
  height: auto;
}

.nav_wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.contacts li {
  margin-right: 20px;
}

.link {
  color: var(--main-text-color);
  font-size: 20px;
  font-family: var(--font-pro);
  display: flex;
}

.link svg {
  transition: fill 0.3s ease;
  margin-right: 5px;
}

.link:hover svg {
  fill: var(--second-color);
}

.copyright {
  text-align: center;
  padding: 5px 0;
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.github_link {
  color: var(--main-text-color);
  text-decoration: underline;
  font-weight: bold;
  transition: color 0.3s;
}

.github_link:hover {
  color: #ddd;
}
