.container {
  max-width: 70%;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--foreground);
  color: var(--main-text-color);
  font-family: var(--font-jura);
}

.title {
  font-size: var(--fs-xlarge);
  color: var(--second-color);
  margin-bottom: 20px;
  text-align: center;
}

.subtitle {
  font-size: var(--fs-large);
  color: var(--main-text-color);
  margin-top: 20px;
}

.text {
  font-size: var(--fs-medium);
  color: var(--main-text-color);
  line-height: 1.6;
  margin-top: 10px;
}
