.map {
  width: 100%;
  background-color: var(--foreground);
  position: relative;
}

.container {
  margin: 0 auto;
  height: 500px;
  position: relative;
}

.info_container {
  pointer-events: none;
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  z-index: 1;
  & li {
    font-size: 18px;
    margin: 5px 0;
    & a {
      pointer-events: all;
    }
  }
}

.info_header {
  font-family: var(--font-jura);
  font-size: 30px;
  margin-bottom: 15px;
}

.map_container {
  width: 100%;
  height: 100%;
  & iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

.map_overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  pointer-events: none;
}
